.foot {
  border-top: var(--border-01);

  & h3 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
}
.foot-head {
  padding: 1rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot .logo {
  & img {
    width: 5rem;
    object-fit: cover;
  }
}
.foot-social {
  & ion-icon {
    font-size: 1.5rem;
  }
}
.foot-copy {
  margin-top: 1rem;
  padding: 0.75rem 0;
  font-size: 0.9rem;
  text-align: center;
  color: var(--text-03);
  border-top: var(--border-01-2);
}

.foot-links,
.foot-social {
  padding: 0 0.75rem;
  border-left: var(--border-01-2);
}
