.main {
  padding: 0 8rem;
  padding-top: var(--header-height);
}
.timeline {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-04);
}
/* ====== CARDS ====== */
.repoCard {
  padding: 1rem;
  cursor: pointer;
  background: var(--bg-02);
  border: var(--border-01-2);
}
.rc-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-01-2);
}
.rc-head h3 {
  font-size: 1.25rem;
  color: var(--brand-01);
}
.author {
  display: flex;
  align-items: center;
  gap: var(--gap-02);
}
.author img {
  width: 2.5rem;
  border-radius: 50%;
}
.author span {
  color: var(--text-02);
}

.rc-main {
  margin: 0.75rem 0;
}
.rc-footer {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  border-top: var(--border-01-2);
}
.rc-footer span {
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
  gap: var(--gap-01);
}
/* ====== MODAL ====== */
.repomodal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: 25;
  pointer-events: none;
  backdrop-filter: var(--blur-2);
  background: var(--funds-02);
  transition: 0.2s;
}
.repomodal.open {
  opacity: 1;
  pointer-events: auto;
}

.modalContent {
  max-height: 80vh;
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 12px;
  border: 1px solid var(--brand-01);
  background: var(--bg-01);
  animation: slideUp 0.3s ease;
}
@keyframes slideUp {
  from {
    transform: translateY(16px);
  }
  to {
    transform: translateY(0);
  }
}
#repocloseModal {
  font-size: 2rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
}
/* ====== BODY ====== */
#repomodalBody {
  padding-right: 4px;
  overflow-y: auto;
  flex: 1;
}
.cover {
  border-radius: 0.75rem 0.75rem 0 0;
}
.repotitle {
  margin: 0.5rem 0;
}

.release-link {
  display: inline-block;
  margin-top: 1rem;
  font-weight: 500;
  color: var(--brand-01);
  text-decoration: none;
}
.release-link:hover {
  text-decoration: underline;
}

/* ======== Markdown ======== */
.release-body {
  line-height: 1.6;
}
.release-body h1,
.release-body h2,
.release-body h3 {
  margin: 1rem 0 0.5rem;
}
.release-body ul {
  padding-left: 1.2rem;
}
.release-body pre {
  background: var(--bg-01);
  padding: 0.75rem;
  border-radius: 8px;
  overflow-x: auto;
}
.release-body code {
  font-family: monospace;
}
/* ======== Scrollbar ======== */
#repomodalBody::-webkit-scrollbar {
  width: 6px;
}
#repomodalBody::-webkit-scrollbar-thumb {
  background: var(--brand-02);
  border-radius: 10px;
}
#repomodalBody::-webkit-scrollbar-track {
  background: transparent;
}
